* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 20px;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(14, 9, 9, 0.15);
}
.mylogo {
    position: relative;
    font-size: 20px;
    color: white;
    text-decoration: none;
    cursor: pointer;    
}
.navbar a{
    position: relative;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    font-weight: 700;
    margin-left: 20px;
}
.navbar a:hover{
    color: rgba(55, 0, 255);
}
main{
    padding: 10px;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}
h3 {
  top: 0;
    left: 1px;
}
h1{
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

h3 {
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: left;
}
p{
    font-size: 20px;
    color: black;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: auto;
    align-items: center;
  }
  
  .card {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    cursor: pointer;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .card h2 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .card p {
    color: #333;
    line-height: 1.5;
    margin-bottom: 20px;
  }

 #Btn {
    width: 6rem;
    background: linear gradient(45deg), aqua, blue;
    border: none;
    border-radius: 12px;
    color: rgb(120, 167, 207);
    cursor: pointer;
    font-size: 1.5rem;
    padding: 1rem 3rem;
    align-items: center;
    size-adjust: 20px;
  }

  #Btn:hover{
    box-shadow: 2px 2px 2px #f9f9f9,
                -2px -2px 2px #00000026;
  }
  footer{
  background-color: beige;
  padding: 20px 0;
  text-align: center;
  margin-top: 10px;
}
.social-icons{
  margin-bottom: 10px;
}

.social-icon{

}

a {
  text-decoration: none;
  color: #007bff;
}
i{
  display: inline-block;
  background-color:;
  border-radius: 5px;
  font-size: 24px;
}
i .fab fa {
  margin-right: 5px;
}
  

